<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServiceRent" closeTimeout="00:20:00"
          openTimeout="00:20:00" receiveTimeout="00:20:00" sendTimeout="00:20:00"
          maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8302/" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IServiceRent" contract="ServiceRent.IServiceRent"
        name="NetTcpBinding_IServiceRent" />
    </client>
  </system.serviceModel>
</configuration>